<section class=" container" id="caseStudy">
    <div class="row">
        <div class="container-fluid">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col">

                    </div>
                    <div class="col">

                    </div>
                    <div class="col">
                        <img src="~/Images/case_study_logo_caesarstone.png" class="logo-section" />
                    </div>
                    <div class="col">

                    </div>
                    <div class="col">

                    </div>
                </div>
                <h2 class="caseStudy_header">Caesarstone- How real time data analysis can create insights that led to a population explosion at the trade show</h2>
            </div>
        </div>
    </div>
    <div class="space-cusotm"></div>
    <div class="row">
        <div class=" col-md-6">
        </div>
        <div class=" col-md-6">
            <a href="#solution" class="js-scroll-trigger">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </a>

        </div>
    </div>
    <div class="space"></div>
</section>

<section class=" container" id="solution">
    <div class="row">
        <div class="container-fluid">
            <div class="container">


                <div class="row">
                    <div class="col-md-3 col-sm-2 col-image-section">
                        <img src="~/Images/case_study_caesarstone.png" class="img-fluid n">
                    </div>
                    <div class="col-md-9">
                        <div class="col-sm-10  offset-sm-1">

                            <p class="col-header">
                                The challenge
                            </p>
                            <p class="col-text">
                                Getting designers and architects that are attending the “Milan Design Week’ trade show, to also visit Caesarstone’s exhibition that is not near the main event and is a 40 mins drive away.
                            </p>
                        </div>
                        <div class="col-sm-10  offset-sm-1">
                            <p class="col-header">
                                The solution
                            </p>
                            <p class="col-text">
                                A combination of Smart display targeting using data and Real-Time-Optimization allowed us to pivot quickly to new strategies during the first hours of the event. Real Time Marketing = Real Time Decision, we picked up on initial trends at the trade show that were immediately incorporated to the campaigns and messaging.
                            </p>

                        </div>
                    </div>
                </div>





            </div>


        </div>
    </div>
    <div class="space-cusotm"></div>
    <div class="row">
        <div class=" col-md-6">
        </div>
        <div class=" col-md-6">
            <a href="#results" class="js-scroll-trigger">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </a>

        </div>
    </div>
    <div class="space"></div>
</section>



<section class=" container" id="results">
    <div class="row">
        <div class="container-fluid">
            <div class="container">
                <h2 class="result-section"> The Results</h2>
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li class="about_office_text">
                                On the third day of the campaign we received an SMS from Caesarstone CMO:
                                “PLEASE STOP THE CAMPAIGN”
                            </li>
                            <li class="about_office_text">
                                The exhibition was packed with more than 1000 people that were left outside…
                            </li>
                        </ul>
                    </div>
                    @*<div class="col-md-6">

                        <img src="~/Images/case_study_graph_caesarstone.png" class="img-fluid" />
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</section>