<section class=" container" id="caseStudy">
    <div class="row">
        <div class="container-fluid">
            <div class="container">
                
                <div class="row align-items-center">
                    <div class="col">

                    </div>
                    <div class="col">

                    </div>
                    <div class="col-md-6">
                        <img src="~/Images/case_study_logo_lapam.png" class="logo-section img-fluid" />
                    </div>
                    <div class="col">

                    </div>
                    <div class="col">

                    </div>
                </div>
                
                <h2 class="caseStudy_header"> Ministry of Tourism - Multi-channel digital campaign management in 9 countries</h2>



            </div>


        </div>
    </div>
    <div class="space-cusotm"></div>
    <div class="row">
        <div class=" col-md-6">
        </div>
        <div class=" col-md-6">
            <a href="#solution" class="js-scroll-trigger">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </a>

        </div>
    </div>
    <div class="space"></div>
</section>

<section class=" container" id="solution">
    <div class="row">
        <div class="container-fluid">
            <div class="container">


                <div class="row">
                    <div class="col-md-4 col-sm-2 col-image-section">
                        <img src="~/Images/case_study_lapam.png" class="img-fluid ">
                    </div>
                    <div class="col-md-6">
                        <div class="col-sm-10  offset-sm-1">

                            <p class="col-header">
                                The challenge
                            </p>
                            <p class="col-text">
                                Increasing the number of incoming tourists coming to Israel as efforts to promote tourism in Israel in the past 10 years have resulted in an increase of no more than 3% at most.
                            </p>

                        </div>


                        <div class="col-sm-10  offset-sm-1">
                            <p class="col-header">
                                The solution
                            </p>
                            <p class="col-text">
                                Smart media planning and full consumer journey strategy with relevant content for each stage of the funnel up to making the decision to visit Israel were the base to promote specific city locations in Israel as a break for vacation.
                            </p>

                        </div>
                    </div>
                </div>





            </div>


        </div>
    </div>
    <div class="space-cusotm"></div>
    <div class="row">
        <div class=" col-md-6">
        </div>
        <div class=" col-md-6">
            <a href="#results" class="js-scroll-trigger">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </a>

        </div>
    </div>
    <div class="space"></div>
</section>



<section class=" container" id="results">
    <div class="row">
        <div class="container-fluid">
            <div class="container">
                <h2 class="result-section"> The Results</h2>
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li class="ministry_case_study">
                                A spike in the numbers of tourists entering Israel by over 38%!
                                (Still increasing to this day)
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">

                        <img src="~/Images/Graph.png" class="img-fluid" />
                    </div>
                </div>


            </div>


        </div>
    </div>

</section>