<section class=" container" id="caseStudy">
    <div class="row">
        <div class="container-fluid">
            <div class="container">

                <div class="row align-items-center">
                    <div class="col">

                    </div>
                    <div class="col">

                    </div>
                    <div class="col">
                        <img src="~/Images/CustomerEn/Color/5.png" class="logo-section" />
                    </div>
                    <div class="col">

                    </div>
                    <div class="col">

                    </div>
                </div>
                <h2 class="about_office"> Super Pharm- How we cracked the code to create the golden ad</h2>



            </div>


        </div>
    </div>
    <div class="space-cusotm"></div>
    <div class="row">
        <div class=" col-md-6">
        </div>
        <div class=" col-md-6">
            <a href="#solution" class="js-scroll-trigger">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </a>

        </div>
    </div>
    <div class="space"></div>
</section>

<section class=" container" id="solution">
    <div class="row">
        <div class="container-fluid">
            <div class="container">


                <div class="row">
                    <div class="col-md-3 col-sm-2 col-image-section">
                        <img src="~/Images/iPhone X - Outline.png" class="img-fluid n">
                    </div>
                    <div class="col-md-9">
                        <div class="col-sm-10  offset-sm-1">

                            <p class="col-header">
                                The challenge
                            </p>
                            <p class="col-text">
                                Maximizing the ROAS of a complex eCommerce activity in a multi-product environment (Over 12,000 SKUs)
                            </p>

                        </div>


                        <div class="col-sm-10  offset-sm-1">
                            <p class="col-header">
                                The solution
                            </p>
                            <p class="col-text">
                                Our unique work method, ‘Factor Analysis’, that calculates and indexes all the Ad's variables, enables us to create real time statistical-based PPC decisions to scale the PPC while growing ROAS at the same time!
                            </p>

                        </div>
                    </div>
                </div>





            </div>


        </div>
    </div>
    <div class="space-cusotm"></div>
    <div class="row">
        <div class=" col-md-6">
        </div>
        <div class=" col-md-6">
            <a href="#results" class="js-scroll-trigger">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </a>

        </div>
    </div>
    <div class="space"></div>
</section>



<section class=" container" id="results">
    <div class="row">
        <div class="container-fluid">
            <div class="container">
                <h2 class="result-section"> The Results</h2>
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li class="about_office_text">
                                ROAS increased by272%  in the first 6 months
                            </li>
                            <li class="about_office_text">
                                PPC Ad Spend raised by 250%
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">

                        <img src="~/Images/Graph.png" class="img-fluid" />
                    </div>
                </div>


            </div>


        </div>
    </div>

</section>
