    

<section class=" container" id="caseStudy">

    <div class="row">
        <div class="container-fluid">
            <div class="container">
              
                <div class="row align-items-center">
                    <div class="col">

                    </div>
                    <div class="col">

                    </div>
                    <div class="col-md-6">
                        <img src="~/Images/case_study_logo_scanmarker.png" class="logo-section img-fluid" />
                    </div>
                    <div class="col">

                    </div>
                    <div class="col">

                    </div>
                </div>
                <h2 class="caseStudy_header"> Scan Marker - From Audit to Growth</h2>



            </div>


        </div>
    </div>
    <div class="space-cusotm"></div>
    <div class="row">
        <div class=" col-md-6">
        </div>
        <div class=" col-md-6">
            <a href="#solution" class="js-scroll-trigger">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </a>

        </div>
    </div>
    <div class="space"></div>
</section>
<div id="about-video">
    <div class="DVideo"></div>
</div>
<section class=" container" id="solution">
    <div class="row">
        <div class="container-fluid">
            <div class="container">


                <div class="row">
                    <div class="col-md-3 col-sm-2 col-image-section scanMarker">
                        <img src="~/Images/case_study_scanmarker.png" class="img-fluid n">
                    </div>
                    <div class="col-md-9">
                        <div class="col-sm-10  offset-sm-1">

                            <p class="col-header">
                                The challenge
                            </p>
                            <p class="col-text">
                                Scanmarker, the leading digital highlighter tool, was struggling to scale their online business and were mainly relying on a sole channel for marketing.
                            </p>

                        </div>


                        <div class="col-sm-10  offset-sm-1">
                            <p class="col-header">
                                The solution
                            </p>
                            <p class="col-text">
                                After a full digital audit including a dip level data analysis, we set in motion a long-term strategy and rebuild the full marketing infrastructure, eCommerce store and all digital assets.
                                Campaigns, creatives and ad accounts were created with a holistic approach with a cross platform attribution model, to allow for growth as well as for scale. 
                            </p>

                        </div>
                    </div>
                </div>





            </div>


        </div>
    </div>
    <div class="space-cusotm"></div>
    <div class="row">
        <div class=" col-md-6">
        </div>
        <div class=" col-md-6">
            <a href="#results" class="js-scroll-trigger">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </a>

        </div>
    </div>
    <div class="space"></div>
</section>



<section class=" container" id="results">
    <div class="row">
        <div class="container-fluid">
            <div class="container">
                <h2 class="result-section"> The Results</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="description">
                            <p class="about_office_text">
                                <li class="about_office_text">
                                    Ad Spend grew by 400% In less than 6 months, while keeping the CPA under target!
                                </li>
                            </p>
                        </div>
                    </div>

               
                        <div class="col-md-4">
                            <img src="~/Images/case_study_graph_scanmarker.png" class="img-fluid" />
                        </div>
                    </div>


                </div>


        </div>
    </div>

</section>

@section scripts
{
    <script>
        $('.nav-link').removeClass("active");
        $('.Home').addClass("active");
        $(window).scroll(function () {
            var x = $('#Contact').hasClass("active");
                
            if (x) {
                
            } else {
                $('.nav-link').removeClass("active");
                $('.Home').addClass("active");
            }

        })

    </script>    
}
