@model List<GoNewWebsite.Models.Jobs>
@{
    ViewBag.Title = "Career";
}


<section class=" container" id="aboutOffice">
    <div class="row">
        <div class="container-fluid">
            <div class="container">
                <h2 class="about_office">About the Office</h2>

                <div class="col-sm-10  offset-sm-1">
                    <p class="about_office_text">
                        We at GO every wake up every morning with the goal of advancing one more step from the peak we reached yesterday. If you, too, wink from the same material, people who are looking to create value, seek to challenge the status quo, love to surround yourself with winners, want to learn from the best and strive to look at the digital world as a career - your place is with us.
                    </p>
                </div>

            </div>




        </div>
    </div>

    <div class="row">
        <div class="space"></div>
        <div class=" col-md-6">
        </div>
        <div class=" col-md-6">
            <a href="#openPosition" class="js-scroll-trigger">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </a>

        </div>
    </div>
</section>


<section class="page-section container-fluid" id="openPosition">
    <div class="section-header">
        <p class="ourCustomer">משרות פתוחות </p>

    </div>
    <div class="row">
        <div class="container-fluid mt-4" style="color: black">
            <div class="jobs-card">
                <div class="row justify-content-center">
                    @foreach (var item in @Model)
                    {
                        
                    <div class="col-md-3 mb-4">
                        
                        <div class=" job-card img-fluid">
                            
                            <a class="hrefPosition" href="@Url.Action("Position", new {positionId = @item.Uid})">
                                <img src="~/Images/CAREERS.png" />

                                <div class="card-text">
                                    <h5 class="card-position">@item.Name</h5>
                                </div>
                            </a>
                        </div>
                        
                    </div>
                        
                    }



                </div>
            </div>

        </div>
    </div>
</section>



@section scripts
{
    <script type="text/javascript">
        $('.nav-link').removeClass("active");
        $('.Careers').addClass("active");
    </script>
}
