
<section class=" page-section" id="customer">

        <div class="container">


            <div class="owl-carousel clients-carousel">
                <img src="~/Images/Rectangle.png" />
                <img src="~/Images/b144 logo grey.png" />
                <img src="~/Images/b144 logo grey.png" />
                <img src="~/Images/b144 logo grey.png" />
                <img src="~/Images/b144 logo grey.png" />
                <img src="~/Images/b144 logo grey.png" />
                <img src="~/Images/b144 logo grey.png" />
                <img src="~/Images/b144 logo grey.png" />
                <img src="~/Images/b144 logo grey.png" />
            </div>

        </div>
    

</section>


@section scripts
{
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                600: {
                    items: 3,
                    nav: false
                },
                1000: {
                    items: 5,
                    nav: true,
                    loop: false
                }
            }
        })
    </script>
}
