
<section class="services" id="Services">
    <div class="container container-fluid" id="triangularcarousel">

        <div id="triangular">
            <carousel-3d class="triangular-carousel" :perspective="0" :space="200" :border="0" :display="7" :width="274" :height="309" :animationSpeed="1"
                         :controls-visible="true" :controls-width="30" :controls-height="5" :clickable="true" :autoplay="false" :autoplay-timeout="5000">
                <slide :index="0">
                    <a href="#ProgrammaticMedia">
                        <p class="triangular programtic">Programmatic Media</p>
                    </a>
                </slide>
                <slide :index="1">
                    <a href="#SearchEngineManagementPPC">
                        <p class="triangular ppc">PPC</p>
                    </a>

                </slide>
                <slide :index="2">
                    <a href="#SEOSearchEngineOptimization">
                        <p class="triangular seo">SEO</p>
                    </a>

                </slide>
                <slide :index="3">
                    <a href="#SocialMediaMarketing">
                        <p class="triangular social-media">Social Media</p>
                    </a>
                </slide>
                <slide :index="4">
                    <a href="#MediaPlanning">
                        <p class="triangular media-planning">Media Planning</p>
                    </a>
                </slide>
                <slide :index="5">
                    <a href="#ContentMarketing">
                        <p class="triangular content-marketing">Content Marketing</p>
                    </a>
                </slide>
                <slide :index="6">
                    <a href="#Analytics">
                        <p class="triangular data-analysis">Data Analysis</p>
                    </a>
                </slide>
                <slide :index="7">
                    <a href="#Strategy">
                        <p class="triangular">Strategy</p>
                    </a>

                </slide>
                <slide :index="8">
                    <a href="#CreativeStudio">
                        <p class="triangular creative">Creative & Studio</p>
                    </a>
                </slide>
                <slide :index="9">
                    <a href="#MobileWebdevelopment">
                        <p class="triangular devlopment">Development</p>
                    </a>
                </slide>
                <slide :index="10">
                    <a href="#eCommerce">
                        <p class="triangular">eCommerce</p>
                    </a>
                </slide>
                <slide :index="11">
                    <a href="#MarketingTechnologiesSolutions">
                        <p class="triangular martech">Mar-tech Services</p>
                    </a>
                </slide>


            </carousel-3d>
        </div>
        <div class="space"></div>
        <div class="row">
            <div class=" col-md-6">

            </div>
            <div class=" col-md-6">
                <a href="#caseStudys" class="js-scroll-trigger">
                    <div class="chevron"></div>
                    <div class="chevron"></div>
                    <div class="chevron"></div>
                </a>

            </div>
        </div>
        <div class="space"></div>
    </div>

</section>
<div id="home-video">
    <div class="DVideo"></div>
</div>


<section class=" container-fluid" id="caseStudys">

    <div class="3DVideo"></div>
    <div class="section-header">
        <p class="ourCustomer">Success Stories</p>
    </div>

    <div id="story">
        <carousel-3d class="story" :perspective="0" :space="500" :display="3" :border="0"
                     :width="1113" :height="445" :controls-visible="true" :controls-prev-html="'❬'" :controls-next-html="'❭'"
                     :controls-width="30" :controls-height="60" :clickable="true" :autoplay="false" :autoplay-timeout="5000">
            <slide :index="0">
                <div class="card col-md-12">
                    <div class="row ">
                        <div class="col-md-3 d-none d-md-block">
                            <img src="~/Images/case_study_scanmarker.png" class="img-fluid card-img">
                        </div>
                        <div class="col-md-9 ">
                            <div class="card-body" style="color: black">
                                <div class="row">
                                    <span class="d-inline-block  float-left">
                                        <img src="~/Images/case_study_logo_scanmarker2.png" class="logo-card img-fluid " />
                                    </span>
                                </div>
                                <p class="d-inline-block card-title  ">
                                    Scan Marker - From Audit to Growth
                                </p>
                                <div class="d-none d-md-block">
                                    <p class="d-inline-block card-title   ">
                                        <h5 class="card-title">The challenge</h5>
                                    <p class="card-text read-more-line">
                                        Scanmarker, the leading digital highlighter tool, was struggling to scale their online business and were mainly relying on a sole channel for marketing.
                                    </p>
                                </div>

                            </div>
                            <div class="read-more-card">
                                <p class="card-text float-right"><a href="@Url.Action("ScanMarker", "CaseStudy")" style="text-decoration: underline">Read More</a></p>
                            </div>
                        </div>

                    </div>
                </div><!--ScanMarker-->
            </slide>
            <slide :index="1">
                <div class="card col-md-12">
                    <div class="row ">
                        <div class="col-md-3 d-none d-md-block">
                            <img src="~/Images/case_study_super_pharm_black.png" class="card-img img-fluid superpharm-img">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body" style="color: black">

                                <div class="row">
                                    <span class="d-inline-block  float-left">
                                        <img src="~/Images/super farm_blue.png" class="logo-card img-fluid" />

                                    </span>
                                </div>

                                <div class="">
                                    <p class="d-inline-block card-title  ">
                                        Super Pharm- How we cracked the code to create
                                        <br />
                                        the golden ad
                                    </p>


                                </div>
                                <div class="d-none d-md-block">
                                    <p class="d-inline-block card-title  ">
                                        <h5 class="card-title">The challenge</h5>
                                    <p class="card-text">
                                        Maximizing the ROAS of a complex eCommerce activity in a multi-product environment (Over 12,000 SKUs)
                                    </p>
                                </div>
                            </div>
                            <div class="read-more-card">
                                <p class="card-text float-right"><a href="@Url.Action("SuperPharmEn", "CaseStudy")" style="text-decoration: underline">Read More</a></p>
                            </div>
                        </div>

                    </div>
                </div>
            </slide>
            <slide :index="2">
                <div class="card col-md-12">
                    <div class="row ">
                        <div class="col-md-3 d-none d-md-block">
                            <img src="~/Images/case_study_caesarstone.png" class="img-fluid card-img">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body" style="color: black">

                                <div class="row">
                                    <span class="d-inline-block  float-left">
                                        <img src="~/Images/case_study_logo_caesarstone2.png" class="logo-card float-left" />

                                    </span>
                                </div>
                                <p class="d-inline-block card-title  ">
                                    Caesarstone- How real time data analysis can create insights
                                    that led to a population explosion at the trade show
                                </p>
                                <div class="d-none d-md-block">
                                    <p class="d-inline-block card-title  ">
                                        <h5 class="card-title">The challenge</h5>
                                    <p class="card-text">
                                        Getting designers and architects that are attending the “Milan Design Week’ trade show, to also visit Caesarstone’s exhibition that is not near the main event and is a 40 mins drive away.
                                    </p>
                                </div>
                            </div>
                            <div class="read-more-card">
                                <p class="card-text float-right"><a href="@Url.Action("CaesarstoneEN", "CaseStudy")" style="text-decoration: underline">Read More</a></p>
                            </div>
                        </div>

                    </div>
                </div>
            </slide>
            <slide :index="3">
                <div class="card col-md-12">
                    <div class="row ">
                        <div class="col-md-3 d-none d-md-block">
                            <img src="~/Images/case_study_lapam.png" class="card-img img-fluid">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body" style="color: black">
                                <div class="row">
                                    <span class="d-inline-block  float-left">

                                        <img src="~/Images/case_study_logo_lapam.png" class="logo-card  float-left" />
                                    </span>
                                </div>
                                <p class="d-inline-block card-title  ">
                                    Ministry of Tourism - Multi-channel digital campaign management in 9 countries
                                </p>
                                <div class="d-none d-md-block">
                                    <p class="d-inline-block card-title  ">
                                        <h5 class="card-title">The challenge</h5>
                                    <p class="card-text read-more-line">
                                        Increasing the number of incoming tourists coming to Israel as efforts to promote tourism in Israel in the past 10 years have resulted in an increase of no more than 3% at most.
                                    </p>
                                </div>
                            </div>
                            <div class="read-more-card">
                                <p class="card-text float-right"><a href="@Url.Action("MinistryEN", "CaseStudy")" style="text-decoration: underline">Read More</a></p>
                            </div>
                        </div>

                    </div>
                </div>
            </slide>

        </carousel-3d>
    </div>


    <div class="space-cusotm"></div>
    <div class="row">
        <div class=" col-md-6 col-sm-1">
        </div>
        <div class=" col-md-6 col-sm-1">
            <a href="#about" class="js-scroll-trigger">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"><i class="fa fa-star-o faa-falling animated"></i></div>
            </a>
        </div>
    </div>
</section>
<section class=" page-section customers_section" id="about">

    <div class="container">
        <div class="section-header">
            <p class="ourCustomer">Our Clients</p>

        </div>

        <div class="owl-carousel clients-carousel">
            <div class="customer-carousel-image">


                <img src="~/Images/CustomerEn/color/1.png" />


            </div>

            <div class="customer-carousel-image">
                <img src="~/Images/CustomerEn/color/2.png" />

            </div>

            <div class="customer-carousel-image">
                <img src="~/Images/CustomerEn/color/3.png" />

            </div>
            <div class="customer-carousel-image">
                <img src="~/Images/CustomerEn/color/4.png" />

            </div>
            <div class="customer-carousel-image">
                <img src="~/Images/CustomerEn/color/5.png" />

            </div>
            <div class="customer-carousel-image">
                <img src="~/Images/CustomerEn/color/6.png" />

            </div>

            <div class="customer-carousel-image">
                <img src="~/Images/CustomerEn/color/8.png" />

            </div>
            <div class="customer-carousel-image">
                <img src="~/Images/CustomerEn/color/9.png" />

            </div>
            <div class="customer-carousel-image">
                <img src="~/Images/CustomerEn/color/10.png" />

            </div>
            <div class="customer-carousel-image">
                <img src="~/Images/CustomerEn/color/11.png" />

            </div>
        </div>

    </div>


</section>


<!--==========================
Clients Section
============================-->
@{
    Html.RenderAction("GetJobsForHomePage", "Career");
}



<!-- Swiper -->


@section scripts
{


    <script>



        $(".story").attr(":controls_visible", "false");
        $(".triangular-carousel").attr(":space", "200");
        if ($(window).width() < 769) {
            $("#triangularcarousel").removeClass("container");
            //$("#triangularcarousel").addClass("container-fluid");
            $(".story").attr(":width", "274");
            $(".story").attr(":height", "437");
            var xx = $(".triangular-carousel").attr(":space", "100");
            console.log(xx);
            //$(".triangular-carousel").attr(":space", "237");
            $(".triangular-carousel").attr(":width", "374");
            $(".triangular-carousel").attr(":height", "237");

        }
        $('.nav-link').removeClass("active");
        $('.Home').addClass("active");
        $(window).scroll(function () {
            var x = $('#Contact').hasClass("active");

            if (x) {

            } else {
                $('.nav-link').removeClass("active");
                $('.Home').addClass("active");
            }

        })



        $(document).ready(function (parameters) {

            if ($(window).width() < 1025) {
                var elems = document.getElementsByClassName('next');
                for (var i = 0; i < elems.length; i += 1) {
                    elems[i].style.display = 'none';
                }

                var elems = document.getElementsByClassName('prev');
                for (var i = 0; i < elems.length; i += 1) {
                    elems[i].style.display = 'none';
                }

            }

            $('.clients-carousel').owlCarousel({
                margin: 100,
                loop: true,
                autoHeight: false,
                autoplay: true,
                nav: true,
                responsiveClass: true,
                navText: [
                    '<i class="fal fa-chevron-left"></i>',
                    '<i class="fal fa-chevron-right"></i>'
                ],
                responsive: {
                    0: {
                        items: 3,
                        autoWidth: true,
                        margin: 50,
                        nav: false
                    },
                    600: {
                        items: 3,
                        nav: false
                    },

                    1000: {
                        items: 5,

                        loop: true
                    }
                }
            })
        })

    </script>
    <script>
        jQuery(document).ready(function ($) {
            var swiper = new Swiper('.swiper-container',
                {
                    effect: 'coverflow',
                    autoplay: true,
                    speed: 5000,
                    mousewheelControl: true,
                    loop: true,
                    loopFillGroupWithBlank: true,
                    centeredSlides: true,
                    slidesPerView: 3,
                    initialSlide: 3,
                    keyboardControl: true,
                    loopedSlides: 1,
                    lazyLoading: true,
                    preventClicks: true,
                    preventClicksPropagation: false,
                    lazyLoadingInPrevNext: true,
                    nextButton: '.swiper-button-next',
                    prevButton: '.swiper-button-prev',
                    coverflow: {
                        rotate: 0,
                        stretch: 20,
                        depth: 400,
                        modifier: 1,
                        slideShadows: false,
                    }
                });


        });
    </script>
    <script>
        new Vue({
            el: '#triangular',
            data: {
                slides: 12
            },
            components: {
                'carousel-3d': Carousel3d.Carousel3d,
                'slide': Carousel3d.Slide
            },
            destroyed: function () {
                this.pauseAutoplay(),
                    this.$isServer ||
                    (this.$el.removeEventListener("mouseenter", this.pauseAutoplay), this.$el.removeEventListener(
                        "mouseleave",
                        this.startAutoplay))
            },
            methods: {
                pauseAutoplay: function () {
                    this.autoplayInterval && (this.autoplayInterval = clearInterval(this.autoplayInterval))
                },
                startAutoplay: function () {
                    var t = this;
                    this.autoplay &&
                        (this.autoplayInterval = setInterval(function () {
                            "ltr" === t.dir ? t.goPrev() : t.goNext()
                        },
                            this.autoplayTimeout))
                }
            }
        })
        new Vue({
            el: '#story',
            data: {
                slides: 3
            },
            components: {
                'carousel-3d': Carousel3d.Carousel3d,
                'slide': Carousel3d.Slide
            },
            destroyed: function () {
                this.pauseAutoplay(),
                    this.$isServer ||
                    (this.$el.removeEventListener("mouseenter", this.pauseAutoplay), this.$el.removeEventListener(
                        "mouseleave",
                        this.startAutoplay))
            }
        })

      
    </script>

    <script type="text/javascript">
        //$(document).ready(function () {
        //    $('.prev span').html('<i class="fal fa-chevron-left"></i>');
        //    $('.next span').html('<i class="fal fa-chevron-right"></i>');
        //});
        $(".carousel-3d-slide a").on('click', function (event) {
            window.location.replace('/Home/Services/' + $(this).attr("href"));

        });

     </script>

}