


<section class="page-section container-fluid services" id="Services">
    <div class="container">
        <div id="reta">
            <carousel-3d :perspective="0" :space="200" :border="0" :display="7" :width="274" :height="437"
                         :controls-visible="true" :controls-width="30" :controls-height="5" :clickable="true" :autoplay="false" :autoplay-timeout="5000">
                <slide :index="0">
                    <a href="#Strategy"><p class="triangular">Strategy</p></a>
                </slide>
                <slide :index="1">
                    <a href="#Analytics"><p class="triangular"> Analytics & Data Management</p></a>
                </slide>
                <slide :index="2">
                    <a href="#MediaPlanning"><p class="triangular">Media Planning</p></a>
                </slide>
                <slide :index="3">
                    <a href="#SEOSearchEngineOptimization"><p class="triangular">SEO/Search Engine Optimization</p></a>
                </slide>
                <slide :index="4">
                    <a href="#SearchEngineManagementPPC"><p class="triangular">Search Engine Management/PPC</p></a>
                </slide>
                <slide :index="5">
                    <a href="#SocialMediaMarketing"><p class="triangular">Social Media Marketing</p></a>
                </slide>
                <slide :index="6">
                    <a href="#ProgrammaticMedia"><p class="triangular">Programmatic Media</p></a>
                </slide>
                <slide :index="7">
                    <a href="#CreativeStudio"><p class="triangular">Creative & Studio</p></a>
                </slide>
                <slide :index="8">
                    <a href="#ContentMarketing"><p class="triangular">Content Marketing</p></a>
                </slide>
                <slide :index="9">
                    <a href="#MobileWebdevelopment"><p class="triangular">Mobile & Web development</p></a>
                </slide>
                <slide :index="10">
                    <a href="#eCommerce"><p class="triangular">eCommerce</p></a>
                </slide>
                <slide :index="11">
                    <a href="#MarketingTechnologiesSolutions"><p class="triangular">Marketing Technologies Solutions</p></a>
                </slide>


            </carousel-3d>
        </div>
        <div class="row">
            <div class=" col-md-6">
            </div>
            <div class=" col-md-6">
                <a href="#portfolio" class="js-scroll-trigger">
                    <div class="chevron"></div>
                    <div class="chevron"></div>
                    <div class="chevron"></div>
                </a>

            </div>
        </div>
    </div>

</section>

<section class=" page-section container-fluid" id="caseStudy">
    <div class="section-header">
        <p class="ourCustomer">סיפורי הצלחה</p>

    </div>
    <div id="story">
        <carousel-3d class="story" :perspective="0" :space="500" :display="3" :border="0"
                     :width="1113" :height="545" :controls-visible="true" :controls-prev-html="'❬'" :controls-next-html="'❭'" :controls-width="30" :controls-height="60" :clickable="true" :autoplay="false" :autoplay-timeout="5000">
            <slide :index="0">
                <div class="card col-md-12">
                    <div class="row no-gutters">

                        <div class="col-md-9" dir="rtl">
                            <div class="card-body" style="color: black">


                                <p class="d-inline-block card-title  " dir="rtl">
                                    <span class="d-inline-block  float-right">
                                        <img src="~/Images/b144 logo.png" class="logo-card" />

                                    </span>
                                    50000 זה לא מספר טלפון, זה מספר הקמפיינים ש – B144 יודעת לייצר ביום
                                </p>
                                @*<p class="d-inline-block card-title  " dir="rtl">50000 זה לא מספר טלפון, </p>
                                    <p class="d-inline-block card-title  ">זה מספר הקמפיינים ש – B144 יודעת לייצר ביום </p>*@


                                <h5 class="card-title">האתגר: </h5>
                                <p class="card-text">
                                    מהלך השקה מוחדש של שירות חדש שדורש חינוך ושמייצר ערך שונה לכל סגמנט או קהל יעד רלוונטי. למהלך זה קדם קמפיין השקה שביטא את הרצון של בזק להתמקד בקהל אחד מרכזי ובעקבות כף גרם ליצירת מכנה משותף רחב מדי והתקשה להסביר לקהלי היעד השונים מה הערך המוסף של שירות הבית החכם עבורם. כתוצאה מכך, מכירות המותג הגיעו לתקרת זכוכית בדמות אותם קהלים שאוהבים ומעריכים את הטכנולוגיה.
                                </p>
                            </div>
                            <div class="read-more-card">
                                <p class="card-text float-right"><a href="" style="text-decoration: underline">קרא עוד</a></p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <img src="~/Images/iPhone X - Outline.png" class="card-img" style="height: 500px; width: 244px; ">
                        </div>
                    </div>
                </div>
            </slide>
            <slide :index="1">

                <div class="card col-md-12">
                    <div class="row no-gutters">

                        <div class="col-md-8">
                            <div class="card-body" style="color: black">

                                <p class="d-inline-block">500000 זה לא מספר קמפיינים</p>
                                <span class="d-inline-block btn float-left">
                                    <img src="~/Images/b144 logo.png" class="img-fluid" />
                                </span>
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text float-right"><a href="" style="text-decoration: underline">קרא עוד</a></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="~/Images/iPhone X - Outline.png" class="card-img">
                        </div>
                    </div>
                </div>
            </slide>
            <slide :index="2">
                <div class="card col-md-12">
                    <div class="row no-gutters">

                        <div class="col-md-8">
                            <div class="card-body" style="color: black">

                                <p class="d-inline-block">500000 זה לא מספר קמפיינים</p>
                                <span class="d-inline-block btn float-left">
                                    <img src="~/Images/b144 logo.png" />
                                </span>
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text float-right"><a href="" style="text-decoration: underline">קרא עוד</a></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="~/Images/iPhone X - Outline.png" class="card-img">
                        </div>
                    </div>
                </div>
            </slide>
            <slide :index="3">
                <div class="card col-md-12">
                    <div class="row no-gutters">

                        <div class="col-md-8">
                            <div class="card-body" style="color: black">

                                <p class="d-inline-block">500000 זה לא מספר קמפיינים</p>
                                <span class="d-inline-block btn float-left">
                                    <img src="~/Images/b144 logo.png" />
                                </span>
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text float-right"><a href="" style="text-decoration: underline">קרא עוד</a></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="~/Images/iPhone X - Outline.png" class="card-img">
                        </div>
                    </div>
                </div>
            </slide>
            <slide :index="4">
                <div class="card col-md-12">
                    <div class="row no-gutters">

                        <div class="col-md-8">
                            <div class="card-body" style="color: black">

                                <p class="d-inline-block">500000 זה לא מספר קמפיינים</p>
                                <span class="d-inline-block btn float-left">
                                    <img src="~/Images/b144 logo.png" />
                                </span>
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text float-right"><a href="" style="text-decoration: underline">קרא עוד</a></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="~/Images/iPhone X - Outline.png" class="card-img">
                        </div>
                    </div>
                </div>
            </slide>
            <slide :index="5">
                <div class="card col-md-12">
                    <div class="row no-gutters">

                        <div class="col-md-8">
                            <div class="card-body" style="color: black">

                                <p class="d-inline-block">500000 זה לא מספר קמפיינים</p>
                                <span class="d-inline-block btn float-left">
                                    <img src="~/Images/b144 logo.png" />
                                </span>
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text float-right"><a href="" style="text-decoration: underline">קרא עוד</a></p>
                            </div>
                        </div>

                    </div>
                </div>
            </slide>
            <slide :index="6">
                <div class="card col-md-12">
                    <div class="row no-gutters">

                        <div class="col-md-8">
                            <div class="card-body" style="color: black">

                                <p class="d-inline-block">500000 זה לא מספר קמפיינים</p>
                                <span class="d-inline-block btn float-left">
                                    <img src="~/Images/b144 logo.png" />
                                </span>
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text float-right"><a href="" style="text-decoration: underline">קרא עוד</a></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="~/Images/iPhone X - Outline.png" class="card-img">
                        </div>
                    </div>
                </div>
            </slide>

        </carousel-3d>
    </div>

    <div class="row">
        <div class=" col-md-6 col-sm-1">
        </div>
        <div class=" col-md-6 col-sm-1">
            <a href="#about" class="js-scroll-trigger">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"><i class="fa fa-star-o faa-falling animated"></i></div>
            </a>

        </div>
    </div>
</section>

<section class=" page-section customers_section" id="about">

    <div class="container">
        <div class="section-header">
            <p class="ourCustomer">A Few Of Our Clients</p>

        </div>

        <div class="owl-carousel clients-carousel">
            <div class="customer-carousel-image">


                <img src="~/Images/CustomerEn/color/1.png" />
                <img src="~/Images/CustomerEn/grey/1.png" class="color-image" />

            </div>

            <div class="customer-carousel-image">
                <img src="~/Images/CustomerEn/color/2.png" class="color-image" />
                <img src="~/Images/CustomerEn/grey/2.png" />
            </div>

            <div class="customer-carousel-image">
                <img src="~/Images/CustomerEn/color/3.png" class="color-image" />
                <img src="~/Images/CustomerEn/grey/3.png" />
            </div>
            <div class="customer-carousel-image">
                <img src="~/Images/CustomerEn/color/4.png" class="color-image" />
                <img src="~/Images/CustomerEn/grey/4.png" />
            </div>
            <div class="customer-carousel-image">
                <img src="~/Images/CustomerEn/color/5.png" class="color-image" />
                <img src="~/Images/CustomerEn/grey/5.png" />
            </div>
            <div class="customer-carousel-image">
                <img src="~/Images/CustomerEn/color/6.png" class="color-image" />
                <img src="~/Images/CustomerEn/grey/6.png" />
            </div>
            <div class="customer-carousel-image">
                <img src="~/Images/CustomerEn/color/7.png" class="color-image" />
                <img src="~/Images/CustomerEn/grey/7.png" />
            </div>

            <div class="customer-carousel-image">
                <img src="~/Images/CustomerEn/color/8.png" class="color-image" />
                <img src="~/Images/CustomerEn/grey/8.png" />
            </div>
            <div class="customer-carousel-image">
                <img src="~/Images/CustomerEn/color/9.png" class="color-image" />
                <img src="~/Images/CustomerEn/grey/9.png" />
            </div>
            <div class="customer-carousel-image">
                <img src="~/Images/CustomerEn/color/10.png" class="color-image" />
                <img src="~/Images/CustomerEn/grey/10.png" />
            </div>
        </div>

    </div>


</section>


<!--==========================
Clients Section
============================-->
@{
    Html.RenderAction("GetJobsForHomePage", "Career");
}



<!-- Swiper -->


@section scripts
{


    <script>



        $(".story").attr(":controls_visible", "false");
        if ($(window).width() < 769) {
            console.log("asdsa");
            console.log($(".story").attr(":width", "274"));
            console.log($(".story").attr(":height", "437"));

            console.log($("#story carousel-3d")[0].outerHTML);

        }




        $(document).ready(function (parameters) {
            $(".carousel-3d-slide.current a").on('click', function (event) {

                console.log();
                window.location.replace('/Home/Solutions' + $(this).attr("href"));

            });
            if ($(window).width() < 1025) {
                var elems = document.getElementsByClassName('next');
                for (var i = 0; i < elems.length; i += 1) {
                    elems[i].style.display = 'none';
                }

                var elems = document.getElementsByClassName('prev');
                for (var i = 0; i < elems.length; i += 1) {
                    elems[i].style.display = 'none';
                }

            }

            $('.clients-carousel').owlCarousel({
                margin: 100,
                loop: true,
                autoHeight: false,
                autoplay: true,
                nav: true,
                responsiveClass: true,
                navText: [
                    '<i class="fal fa-chevron-left"></i>',
                    '<i class="fal fa-chevron-right"></i>'
                ],
                responsive: {
                    0: {
                        items: 3,
                        autoWidth: true,
                        margin: 50,
                        nav: false
                    },
                    600: {
                        items: 3,
                        nav: false
                    },

                    1000: {
                        items: 5,

                        loop: true
                    }
                }
            })
        })

    </script>
    <script>
        jQuery(document).ready(function ($) {
            var swiper = new Swiper('.swiper-container',
                {
                    effect: 'coverflow',
                    autoplay: true,
                    speed: 5000,
                    mousewheelControl: true,
                    loop: true,
                    loopFillGroupWithBlank: true,
                    centeredSlides: true,
                    slidesPerView: 3,
                    initialSlide: 3,
                    keyboardControl: true,
                    loopedSlides: 1,
                    lazyLoading: true,
                    preventClicks: true,
                    preventClicksPropagation: false,
                    lazyLoadingInPrevNext: true,
                    nextButton: '.swiper-button-next',
                    prevButton: '.swiper-button-prev',
                    coverflow: {
                        rotate: 0,
                        stretch: 20,
                        depth: 400,
                        modifier: 1,
                        slideShadows: false,
                    }
                });


        });
    </script>
    <script>
        new Vue({
            el: '#reta',
            data: {
                slides: 12
            },
            components: {
                'carousel-3d': Carousel3d.Carousel3d,
                'slide': Carousel3d.Slide
            },
            destroyed: function () {
                this.pauseAutoplay(),
                    this.$isServer ||
                    (this.$el.removeEventListener("mouseenter", this.pauseAutoplay), this.$el.removeEventListener(
                        "mouseleave",
                        this.startAutoplay))
            },
            methods: {
                pauseAutoplay: function () {
                    this.autoplayInterval && (this.autoplayInterval = clearInterval(this.autoplayInterval))
                },
                startAutoplay: function () {
                    var t = this;
                    this.autoplay &&
                        (this.autoplayInterval = setInterval(function () {
                            "ltr" === t.dir ? t.goPrev() : t.goNext()
                        },
                            this.autoplayTimeout))
                }
            }
        })
        new Vue({
            el: '#story',
            data: {
                slides: 3
            },
            components: {
                'carousel-3d': Carousel3d.Carousel3d,
                'slide': Carousel3d.Slide
            },
            destroyed: function () {
                this.pauseAutoplay(),
                    this.$isServer ||
                    (this.$el.removeEventListener("mouseenter", this.pauseAutoplay), this.$el.removeEventListener(
                        "mouseleave",
                        this.startAutoplay))
            }
        })


    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.prev span').html('<i class="fal fa-chevron-left"></i>');
            $('.next span').html('<i class="fal fa-chevron-right"></i>');
        });

            //$(document).ready(function () {

            //    getAccordion("#myTab", 769);
            //});
    </script>

}