@{
    ViewBag.Title = "Home Page";
}
<div class="carousel">

    <div class="slides">
  
        <div class="slideItem">
            <a href="#"> <img src="/images/slide-1.jpg"> </a>
            <div class="shadow">
                <div class="shadowLeft"></div>
                <div class="shadowMiddle"></div>
                <div class="shadowRight"></div>
            </div>
        </div>

        <div class="slideItem">
            <a href="#"> <img src="/images/slide-2.jpg"> </a>
            <div class="shadow">
                <div class="shadowLeft"></div>
                <div class="shadowMiddle"></div>
                <div class="shadowRight"></div>
            </div>
        </div>

        <div class="slideItem">
            <a href="#"> <img src="/images/slide-3.jpg"> </a>
            <div class="shadow">
                <div class="shadowLeft"></div>
                <div class="shadowMiddle"></div>
                <div class="shadowRight"></div>
            </div>
        </div>

    </div>

</div>



<script>
        //$(function () {
        //    Carousel.init($("#carousel"));
        //    $("#carousel").init();
        //});
        $(document).ready(function () {
            $('.carousel').carousel({
                carouselWidth: 930,
                carouselHeight: 330,
                directionNav: true,
                shadow: true,
                buttonNav: 'bullets'
            });
        });
    </script>
    <script>

        
        $(function () {

            $('#clients').owlCarousel({
                loop: true,
                nav: false,
                dots: false,
                autoplay: true, centerMode: true,
                autoplayTimeout: 3000,

                responsiveClass: true,
                margin: 25,
                autoplayHoverPause: false, responsive: {
                    0: {
                        items: 2, margin: 20
                    }
                    , 768: {
                        items: 3, margin: 40,
                    }
                    , 992: {
                        items: 4, margin: 60,
                    }
                    , 1200: {
                        items: 5, margin: 80,
                    }
                }
            }
            );

            $('svg').attr({ "width": "304px", "height": "369px" });
            if ($(window).width() < 960) {
                //$('svg').attr({ "width": "200px", "height": "257px" });
            }
            else {

            }

            $('.loop').on('initialized.owl.carousel translate.owl.carousel',
                function (e) {
                    idx = e.item.index;
                    $('.owl-item.big').removeClass('big');
                    $('.owl-item.medium').removeClass('medium');
                    $('.owl-item').eq(idx).addClass('big');
                    $('.owl-item').eq(idx - 1).addClass('medium');
                    $('.owl-item').eq(idx + 1).addClass('medium');
                });


            var owl = $('#triangle_carousel');
            owl.owlCarousel({
                rtl: true,
                center: true,
                items: 6,
                loop: true,
                //margin: 25,
                autoplay: false,
                //autoWidth:true,
                autoPlay: 3000,
                singleItem: true,
                autoHeight: true,
                nav: true,
                //animateOut: 'fadeOut',
                //afterMove: function (elem) {
                //    var current = this.currentItem;
                //    var src = elem.find(".owl-item").eq(current).find("img").attr('src');
                //    console.log('Image current is ' + src);
                //},
                navText: [
                    '<i class="fa fa-angle-left" aria-hidden="true"></i>',
                    '<i class="fa fa-angle-right" aria-hidden="true"></i>'
                ],
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 6
                    },
                    1000: {
                        items: 4
                    }
                }
            });

            owl.on('mousewheel', '.owl-stage', function (e) {
                if (e.deltaY > 0) {
                    owl.trigger('next.owl');
                } else {
                    owl.trigger('prev.owl');
                }
                e.preventDefault();
            });
        });

        $(document).ready(function () {


            //var li = $('li').hasClass('flipster__item--current');
            //console.log($('.flipster__item--current').children());
            //var xx = $('.flipster__item--current').children().children('svg');;
            //xx.attr("fill", "red");

            //var past= $('li').hasClass('flipster__item--past-1').children().children('svg');
            //past.attr("fill", "red");
            //console.log(xx);
            //$('.customer-logos').slick({
            //    infinite: true,
            //    centerMode: true,
            //    centerPadding: '40px',
            //    arrows:false,
            //    slidesToShow: 10,
            //    responsive: [
            //        {
            //            breakpoint: 768,
            //            settings: {
            //                arrows: false,
            //                centerMode: true,
            //                centerPadding: '40px',
            //                slidesToShow: 3
            //            }
            //        },
            //        {
            //            breakpoint: 480,
            //            settings: {
            //                arrows: false,
            //                centerMode: true,
            //                centerPadding: '40px',
            //                slidesToShow: 1
            //            }
            //        }
            //    ]
            //});
            //$('.customer-logos').slick({
            //    centerMode: true,
            //    centerPadding: '60px',
            //    slidesToShow: 6,
            //    slidesToScroll: 1,
            //    autoplay: false,
            //    autoplaySpeed: 1500,
            //    arrows: true,
            //    dots: false,
            //    pauseOnHover: false,
            //    responsive: [{
            //        breakpoint: 768,
            //        settings: {
            //            slidesToShow: 4
            //        }
            //    }, {
            //        breakpoint: 520,
            //        settings: {
            //            slidesToShow: 3
            //        }
            //    }]
            //});


        });




    </script>
}
